#home {
    background-color: rgb(221, 115, 33);
    background-image: url("sunsetlogo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 550px;
}

#homeWelcome {
    font-family: 'Belleza', serif;
    font-size: 48px;
    text-align: center;
}

#navbar {
    background-color: #b4242d;
    /* display: flex;
    justify-content: space-around;
    flex: auto; */
    width: 100%;
    height: 45px;
    font-family: 'Belleza', serif;
    font-size: 30px;
    text-align: center;
}

#navbar a:hover {
    background-color: transparent;
    opacity: 35%;
}

#navbar a {
    background-color:#b4242d;
    color: white;
    padding: 5px 10px;
    word-wrap: normal;
    display: inline-block;
    text-decoration: none;
}

#welcome {
display: flex;
justify-content: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
-webkit-text-stroke: .7px black;
}

.titles {
    font-family: 'Belleza', serif;
}

#body {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    overflow-y: auto;
    color: white;
    -webkit-text-stroke: .7px black;  
}

#shop {
    text-align: center;
    padding: 50px;
    color: white;
    /* -webkit-text-stroke: .7px black; */
}

#cart {
    text-align: center;
    padding: 50px;
    color: white;
    float: left;
    background-color: #b4242d;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: black 3px;
    /* -webkit-text-stroke: .7px black; */
}

#register {
    text-align: center;
    padding: 50px;
    color: white;
    /* -webkit-text-stroke: .7px black; */
}

#lilo {
    padding: 50px;
    color: white;
    text-align: center;
    /* -webkit-text-stroke: .7px black; */
}

#listOfShirts {
    background-color: white;
    padding: 30px 0px 30px;
    color: black;
    /* width: 50%; */
}

#listOfShop {
    font-family: 'Belleza', serif;
    text-align: center;
    padding: 50px;
    color: white;
    float: left;
}

#listofCart {
    margin: 30px;
}

#checkoutButton {
    font-family: 'Belleza', serif;
    margin-top: 15px;
    padding: 15px 25px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    background-color: rgb(221, 115, 33);
    color: black;
}

#totalCost {
    font-size: 30px;
    color: black;
}

li {
    display: inline;
    list-style-type: none;
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 22px;
    font-family: 'Belleza', serif;
    font-size: 16px;
    text-align: center;
    background-color: #b4242d;
}